/*div h2 i{
    color : red;
}
div h2 .broadcasting{
    color : green;
}*/
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }