<div ng-controller = 'StationController as sC'>
    <nav>
        <div class="nav-wrapper">
            <a href="#/dashboard" class="brand-logo">Togethear</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href='#/my_station'>My Station</a></li>
                <li><a href="#/">Logout</a></li>
            </ul>
        </div>
    </nav>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Station</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='station in sC.stations'>
                {{station}}
                <td><span ng-bind='station.dj_username'></span></td>
                <td>
                    <a ng-href='#/station/{{station._id}}' >
                        <span ng-bind='station._id'></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>