<nav>
    <div class="nav-wrapper">
        <div class='logo-container center brand-logo light'>
            Togethear
        </div>
      <ul class="right">
        <li><a href='#/dashboard'>Dashboard</a></li>
        <li ng-if="uC.logged_in" ng-click='uC.logout()'>
            <a href='#/'>Logout</a>
        </li>
        <li ng-if="!uC.logged_in" ng-click='uC.logout()'>
            <a href='#/'>Login</a>
        </li>
      </ul>
    </div>
  </nav>
<link rel='stylesheet' type='text/css' href='./styles/css/dashboard.css'>
<div class='container'>
    <div class='row'>
        <div class='col s12'>
            <input type='search' ng-model='filter_name' placeholder='Search broadcasting stations' />
        </div>
    </div>
    <div class='row'>
        <div ng-repeat='station in lC.all_stations | filter : filter_name' class='station-tile'>
            <a ng-href='#/station/{{station._id}}'>
                <div class='card'>
                    <img ng-src='{{station.artwork_url}}' class='tinted' />
                    <div class='station-info'>
                        <h5 class='truncate center-align'><span ng-bind='station.title'></span></h5>
                        <p class='truncate center-align'><span ng-bind='station.dj_username'></span></p>
                        <p class='truncate now-playing'>
                            <i class="material-icons">play_circle_outline</i>
                            <span ng-bind='station.now_playing.title'</span>
                        </p>
                    </div>
                 </div>
            </a>
        </div>
    </div>
</div>