<!-- <div ng-controller = 'UserController as uC'> -->
    <h2>Login</h2>
    <h5><span ng-bind='uC.err'></span></h5>
    <input type='text' placeholder='Username' ng-model='uC.log.username' />
    <input type='password' placeholder='Password' ng-model='uC.log.password' />
    <button ng-click='uC.login()'>Login</button>
    <h2>Register</h2>
    <input type='text' placeholder='Username' ng-model='uC.reg.username' />
    <input type='password' placeholder='Password' ng-model='uC.reg.password' />
    <button ng-click='uC.register()'>Register</button>
<!-- </div> -->