
<link href='../styles/css/my_station.css' type='text/css' rel='stylesheet' />
<div ng-controller = 'StationController as sC' id='StationController'>

    <nav>
        <div class="nav-wrapper">
            <div class='logo-container center brand-logo light'>
                Togethear
            </div>
          <ul class="right">
            <li ng-if="uC.logged_in" ng-click='uC.logout()'>
                <a href='#/'>Logout</a>
            </li>
            <li ng-if="!uC.logged_in" ng-click='uC.logout()'>
                <a href='#/'>Login</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class='container'>
        <h2 class='header light center'>
            <span ng-bind='sC.station_title'></span>
            <i class="tiny material-icons" ng-click='sC.edit_title()' id='edit_title'>
                settings
            </i>
        </h2>
        <div class='row center'>
            <!-- <div class='col s12'> -->
            <button class='sync-button large btn-flat center white' ng-click='sC.sync_all(false)'>
                <i class="material-icons" >
                    settings_input_antenna
                </i>
                SYNC
            </button>
            <button class='power-button large btn-flat center white' ng-click='sC.toggleBroadcast()'>
                <i class="material-icons"  id='toggleBroadcast'>
                    power_settings_new
                </i>
            </button>
            <button class='next-button large btn-flat center white' ng-click='sC.next_song()'>
                <i class="material-icons"  >
                    skip_next
                </i>
                NEXT
            </button>
        <!-- </div> -->
        </div>
    </div>

    <div class='container' id='main-content'>
        <div class='row'>
            <div class='col s12 m4 center playlist'>
                <h4>Playlist</h4>
                <div class='playlist-track' ng-repeat='track in sC.playlist'>
                    <img class='circle' ng-src='{{track.artwork_url}}' />
                    <p>
                        <span ng-bind='track.title'>
                    </p>
                </div>
            </div>
            <div class='col s12 m8 center'>
                <h4>Catalog</h4>
                <div class='catalog-track' ng-repeat='track in sC.catalog'>
                    <i class="material-icons" ng-click='sC.addTrackToPlaylist(track)'>
                            playlist_add
                    </i>
                    <p class='left-align'>
                        <span ng-bind='track.title'></span>
                        <span ng-bind='track.sc_username'></span>
                    </p>
                </div>
                <input type='text' placeholder='SoundCloud Song URL' ng-model='sC.trackUrl' />
                <button class="btn-floating purple" ng-click='sC.addTrackToCatalog()'>+</button>
                <input type='text' placeholder='SoundCloud Playlist URL' ng-model='sC.playlistUrl' />
                <button class="btn-floating purple" ng-click='sC.addPlaylistToCatalog()'>+</button>
            </div>
        </div>
        <div class='chat'>
            <div class='message' ng-repeat='message in sC.messages'>
                <p><span ng-bind='message.name'></span> : <span ng-bind='message.content'></span>
            </div>
        </div>
        <p>
            <i class="tiny material-icons" ng-click='sC.edit_description()' id='edit_description'>
                settings
            </i>
            <span ng-bind='sC.station_description'></span>
        </p>
        <div class='station-img'>
            <img ng-src='{{sC.station_artwork_url}}' />
        </div>
    </div>
    <i class="tiny material-icons" ng-click='sC.edit_artwork()' id='edit_artwork'>
        settings
    </i>
</div>
<script type="text/javascript">
$('.button-collapse').sideNav({
    menuWidth: 300, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, usefu
});
</script>