

<link href='../styles/css/my_station.css' type='text/css' rel='stylesheet' />
<div ng-controller = 'StationController as sC' id='StationController'>
    <i class="tiny material-icons" ng-click='sC.edit_artwork()' id='edit_artwork'>
        settings
    </i>
    <img ng-src="{{sC.station_artwork_url}}" />
    <h2>
        <i class="tiny material-icons" ng-click='sC.edit_title()' id='edit_title'>
            settings
        </i>
        <span ng-bind='sC.station_title'></span>
        <i class="small material-icons" ng-click='sC.toggleBroadcast()' id='toggleBroadcast'>
            power_settings_new
        </i>
    </h2>
    <p>
        <i class="tiny material-icons" ng-click='sC.edit_description()' id='edit_description'>
            settings
        </i>
        <span ng-bind='sC.station_description'></span>
    </p>
    <div class="row">
        <div class="col s6">
            <input type='text' placeholder='SoundCloud Song URL' ng-model='sC.trackUrl' />
            <button class="btn-floating" ng-click='sC.addTrackToCatalog()'>+</button>
        </div>
        <div class="col s6">
            <input type='text' placeholder='SoundCloud Playlist URL' ng-model='sC.playlistUrl' />
            <button class="btn-floating" ng-click='sC.addPlaylistToCatalog()'>+</button>
        </div>
    </div>
    <p ng-bind='sC.err'></p>
    <div class="row">
        <div class="col s6">
            <h3>Playlist Queue</h3>
            <ul>
                <li ng-repeat='track in sC.playlist'>
                    <span ng-bind='track.title'></span>
                    <span ng-bind='track.sc_username'></span>
                </li>
            </ul>
            <h3>Player</h3>
            <audio id='audio'></audio>
            <button ng-click='sC.play()'>PLAY</button>
            <button ng-click='sC.pause()'>PAUSE</button>
            <button ng-click='sC.sync_all(false)'>sync_all</button>
            <button ng-click='sC.next_song()'>next</button>
        </div>
        <div class="col s6">
            <h3>Catalog</h3>
            <ul>
                <li ng-repeat = 'track in sC.catalog'>
                    <p ng-bind= 'track.title'></p>
                    <button ng-click='sC.addTrackToPlaylist(track)'>Add to playlist</button>
                </li>
            </ul>
        </div>
    </div>
</div>