<link rel="stylesheet" type="text/css" href="./styles/css/splash.css">
<div class="background">
    <div class="container">
		<h1>Welcome to Togethear</h1>
		<div class="row">
			<div class="col s6 info-box" ng-click="uC.user_login_page()">
				<h3>Listen</h3>
				<div>
					<img src="../javascripts/assets/listen.png" style="width: 75%; text-align: center;">
				</div>
				<p>Join a station and listen to the music you love!</p>
			</div>
			<div class="col s6 info-box" ng-click="uC.dj_login_page()">
				<h3>Broadcast</h3>
				<div>
					<img src="../javascripts/assets/broadcast.png" style="width: 75%; text-align: center;">
				</div>
				<p>Create a station and share your music with your friends and the world!</p>
			</div>
		</div>
	</div>
</div>