<div ng-controller = 'StationController as stations'>
    <h1>TOGETHEAR</h1>
    <input type='text' placeholder='SoundCloud Song URL' ng-model='stations.trackUrl' />
    <button ng-click='stations.addTrack()'>Add!</button>
    <p ng-bind='stations.err'></p>
    <h2>Playlist</h2>
    <ul>
        <li ng-repeat='track in stations.playlist'>
            <span ng-bind='track.title'></span> -
            <span ng-bind='track.user.username'></span>
        </li>
    </ul>
    <h3>Player</h3>
    <button ng-click='stations.play()'>PLAY</button>
    <button ng-click='stations.pause()'>PAUSE</button>
    <button ng-click='stations.gotoend()'>END</button>
</div>